# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries in Data Science
* List a few examples of Data Science Tools
* Examples of evaluating arithmentic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. Matplotlib

| Data Science Tools |
|------------------- |
| VS Code |
| TensorFlow Lite |
| Theia |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
print((3*4)+5)

17

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
result = 200 / 60
print(result)

3.3333333333333335

## Author
Ketheren Thorn